@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
	
	line-height: 1.5;

}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1{
	font-family: "Playfair Display", serif;
	
	font-weight: 300px;
	font-style: normal;
	color:#000000;
	font-size: 60px;
  }
 
.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;


}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(235, 229, 229, 0.5);
	position: absolute;
}

.content {
	z-index: 1;
	position: relative;
}

.showcasem{
	display: none;

}

.btn {

	padding: 10px 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #800000;
	font-size: 20px;
	background-color: #fff;
	margin-top: 15px;
	font-weight: bold;
	float: left;

}

.btn2 {

	padding: 10px 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
	background-color: #800000;
	margin-top: 15px;
	font-weight: bold;
	float: left;
}

.btn:hover {
	transform: scale(0.98);
}

#about {
	padding: 40px;
	text-align: center;
}

#about1 {
	padding: 40px;
	text-align: center;
	background-color: antiquewhite;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about1 p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

.slider {

	display: flex;
	margin: 0 auto;
	width: 950px;
	position: relative;
	margin-top: 20px;

}

.box {
	text-align: center;
	width: 350px;
	height: 300px;
	background-color: #f2f2f2;
	margin-bottom: 40px;

	margin-right: 10px;
}

/* mobile responsive */

.sliderm {

	display: flex;
	margin-left: 12px;
	width: 400px;
	position: relative;
	margin-top: 75px;

}

.boxm {
	
	text-align: center;
	width: 350px;
	height: 300px;
	background-color: #f2f2f2;
	margin-bottom: 40px;

	margin-right: 10px;
}

.dotm {

	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #bbb;
	display: inline-block;
	


}

.active,
.dotm:hover {
	background-color: #800000;
}
.dotcontm {

	text-align: center;
	margin-bottom: 20px;
}
.imgm {

	width: 150px;
	height: 175px;
	margin-top: -50px;
	float: left;
	margin-left: 10px;
}
.arrows1m {
	width: 30px;
	height: 30px;

	color: #800000;
	position: absolute;
	float: left;
	cursor: pointer;
	
}

.arrows2m {
	width: 30px;
	height: 30px;

	color: #800000;
	position: absolute;
	cursor: pointer;

	

}
.prev1m {
	border-bottom: 6px solid;
	border-left: 6px solid;
	transform: rotate(45deg);
	left: 45px;
	color: #800000;
	margin-left: 100px;
}

.next1m {
	border-bottom: 6px solid;
	border-left: 6px solid;
	transform: rotate(-135deg);
	right: 45px;
	color: #800000;
	margin-right: 100px;

}



/* end mobile responsive */
.slideabout{

	display: none;
}
.sliderm{

	display: none;
}


.arrowmobile {

	display: none;
}
.dotcontm
{

	display: none;
}
.img1 {

	width: 150px;
	height: 175px;
	margin-top: -50px;
	vertical-align: middle;
}

.butn {

	width: 280px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #808080;
	border: #808080 solid 1px;
	position: absolute;
	left: 0;
	bottom: 0;

}

.butn12 {

	width: 280px;
	height: 30px;
	margin-bottom: 30px;

	color: #808080;
	border: #808080 solid 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 15px;
}
.butn123{

	width: 280px;
	height: 30px;
	

	color: #808080;
	border: #808080 solid 1px;
	position: absolute;
	
	
}

.butn1 {

	width: 280px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	
	color: #020101;
	border: #080505 solid 1px;
}
.butnf1 {

	width: 300px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: 15px;
	color: #020101;
	border: #080505 solid 1px;
}
#about1 {
	padding: 40px;
	text-align: center;
	background-color: #f2f2f2;
}

#img {
	font-size: 1.2rem;
	width: 600px;
	margin: auto;
}

.bccolor {
	background-color: #808080;
}

#line {
	border-left: 7px solid #800000;
	height: 85px;
	content: "";
	position: absolute;
	transform: translate(0, 140px);
	top: 0;
	bottom: 0;
	margin-left: 8px;

}


.arrows1 {
	width: 30px;
	height: 30px;

	color: #800000;
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	cursor: pointer;
	z-index: 1;
}

.arrows2 {
	width: 30px;
	height: 30px;

	color: #800000;
	position: absolute;
	cursor: pointer;
	margin-top: 100px;
	margin-right: 225px;
	z-index: 1;

}

.prev1 {
	border-bottom: 6px solid;
	border-left: 6px solid;
	transform: rotate(45deg);
	left: 130px;
	color: #800000;
	margin-left: 85px;
}

.next1 {
	border-bottom: 6px solid;
	border-left: 6px solid;
	transform: rotate(-135deg);
	right: 130px;
	color: #800000;
	margin-right: 100px;

}

.dotcont {

	text-align: center;
	margin-bottom: 20px;
}

.dot {

	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: #bbb;
	display: inline-block;
	margin: 10px;


}

.active,
.dot:hover {
	background-color: #800000;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

img {
	cursor: pointer;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	text-align: center;
	padding: 0;
	width: 100%;
	
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
}

.prev {

	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 200px;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #800000;
	;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	z-index: 1;

}

.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 220px;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #800000;
	font-weight: bold;
	font-size: 50px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
	z-index: 1;
}

/* On hover, add a 
black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}  */
.row:after {
	content: "";
	display: table;
	clear: both;
  }

/* Six columns side by side */
.column {
	float: left;
	width: 10.66%;

}

/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

.gridcontainerMobile{
	display: none;
}
#aboutm{
	display: none;
}
.finalbutns{
	display: none;
}
/* media query */

@media screen and (max-width:600px) {

	.btn2{display: none;}
	.showcase{display: none;}
	.slider{display: none;}
	.gridcontainer{display: none;}
	 #about{display: none;}
	 .arrowdesktop{display: none;}
	 .dotcont{display: none;}
	 .sliderm{display: block;}
	 .gridcontainerMobile{
		display: block;
	}

	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		
		
	}
	
	body {
		width: 100%;
		line-height: 1.5;
	
	}

    /* Example of a container element taking full width */
    .container {
        
        padding: 0;
        margin: 0;
		overflow-x: hidden;
		
    }
	
	 .dotcontm {

		display: block;
	}
	.arrowmobile {
	
		display: block;
	}
	 
	 .slideabout{

		display: block;
	}

	h1{
		font-family: "Playfair Display", serif;
		
		font-weight: 300px;
		font-style: normal;
		color:#000000;
		font-size: 30px;
	  }
	  
	  .showcasem{
		display: block;
		position: relative;
	
	}
	.video-containerm:after {
		content: '';
		height: 260px;
		width: 450px;
		top: 0;
		left: 0;
		background: rgba(235, 229, 229, 0.5);
		position: absolute;
	}
	.imgmn{
		
		width:450px;
		
		
	}
	.contentm {
		
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 40px;
		margin-top: 60px;
	}
	.btnm {

		padding: 10px 50px;
		font-family: Arial, Helvetica, sans-serif;
		color: #800000;
		font-size: 20px;
		background-color: #fff;
		margin-top: 15px;
		font-weight: bold;
		float: left;
	
	}
	#aboutm{
		text-align: left;
		padding-left: 25px;
		padding-top: 40px;
		display: block;
		width: 400px;
	
	}

	.slideabout{
		text-align: left;
		padding-left: 10px;
		
		display: block;
		width: 450px;
		text-wrap: wrap;
	
	}

	.finalbutns{
		display: block;
	}

}	
